/*HOME*/

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: light;
}

nav {
    background: rgb(83, 116, 115);
    background: linear-gradient(90deg, rgba(83, 116, 115, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(81, 168, 177, 1) 100%);
    box-shadow: 0 4px 8px rgba(47, 143, 156, 0.6);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: shadowMove 3s infinite linear;
    position: relative;
}

@keyframes shadowMove {
    0% {
        box-shadow: 0 4px 8px rgba(47, 143, 156, 0.6);
    }
    50% {
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: 0 4px 8px rgba(47, 143, 156, 0.6);
    }
}

h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #51A8B1 !important;
    opacity: 0.3;
}

.nav-link {
    color: white !important;
    margin-left: 25px;
}

.navbar-brand {
    position: absolute;
    transform: translateY(-20%);
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    width: 100px;
}

#navs .container-fluid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navs .navbar-toggler {
    position: absolute;
    right: 15px;
}

.navbar {
    justify-content: space-between;
}

@keyframes footerShadowMove {
    0% {
        box-shadow: 0 -4px 8px rgba(47, 143, 156, 0.6);
    }
    50% {
        box-shadow: 0 -4px 8px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: 0 -4px 8px rgba(47, 143, 156, 0.6);
    }
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(83, 116, 115);
    background: linear-gradient(90deg, rgba(83, 116, 115, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(81, 168, 177, 1) 100%);
    color: white;
    text-align: center;
    padding: 12px 0;
    box-shadow: 0 4px 8px rgba(47, 143, 156, 0.6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -4px 8px rgba(47, 143, 156, 0.6);
    animation: footerShadowMove 3s infinite linear;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-item:hover {
    background-color: #51a7b113;
    color:#51A8B1;
}

.dropdown-item {
    color: #537473;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    max-width: 200px;
    margin-left: 25px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid #51A8B1;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.dropdown-divider {
    background-color: #51A8B1;
    margin: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
}

#newPCP {
    background-color: #51A8B1;
    border: none;
}

#newPCP:hover {
background-color: #51a7b169;;
}

/*PCP CREATE*/

#btnCreatePCP {
    background-color: #51A8B1;
    border: none;
}

#btnCreatePCP:hover {
    background-color: #51a7b173;
    border: none;
}

#formCreatePCP .row {
    margin-top: 15px;
    color: #000000;
}

#formCreatePCP {
    max-width: 700px;
    margin: auto;
    background-color: #51a7b169;
    border-radius: 30px;
    padding-bottom: 25px;
    border: 5px solid #51A8B1;
}

/*PCP EDIT*/

#btnEditPCP {
    background-color: #51A8B1;
    border: none;
}

#btnEditPCP:hover {
    background-color: #51a7b173;
    border: none;
}

#formEditPCP .row {
    margin-top: 10px;
    color: #000000;
}

#formEditPCP {
    max-width: 700px;
    margin: auto;
    background-color: #51a7b169;
    border-radius: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    border: 5px solid #51A8B1;
}

/*PCP POR SETOR*/

#btnEditPCP,
.btnEditPCP {
    background-color: #51A8B1;
    border: none;
}

#btnEditPCP,
.btnEditPCP:hover {
    background-color: #51a7b173;
    border: none;
}

#pcpList .pcpItem {
    margin-top: 10px;
    color: #000000;
}

#pcpList {
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #51a7b169;
    list-style-type: none;
    padding-left: 0;
    padding-top: 25px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.pcpItem {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 30px;
    border-color: #51A8B1;
    border-width: 5px;
}

#tarefa {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
}

#finish {
    background-color: springgreen;
    max-width: 120px;
    border-radius: 20px;
    padding-left: 4px;
}

#load {
    background-color: rgb(255, 255, 91);
    max-width: 130px;
    border-radius: 20px;
    padding-left: 4px;
}

.btnDeletePCP {
    padding-left: 5px;
    padding-right: 5px;
}
