/*HOME*/

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: light;
}

nav {
    background: rgb(83, 116, 115);
    background: linear-gradient(90deg, rgba(83, 116, 115, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(81, 168, 177, 1) 100%);
    box-shadow: 0 4px 8px rgba(47, 143, 156, 0.6);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: shadowMove 3s infinite linear;
    position: relative;
}

@keyframes shadowMove {
    0% {
        box-shadow: 0 4px 8px rgba(47, 143, 156, 0.6);
    }

    50% {
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    }

    100% {
        box-shadow: 0 4px 8px rgba(47, 143, 156, 0.6);
    }
}

h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #51A8B1 !important;
    opacity: 0.3;
}

.nav-link {
    color: white !important;
    margin-left: 25px;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.61) !important;
    margin-left: 25px;
}

.navbar-brand {
    position: absolute;
    transform: translateY(-20%) translateX(-50%);
    left: 50%;
    top: 50%;
    width: 100px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 0 rgba(47, 143, 156, 0));
}

.navbar-brand:hover {
    transform: translateY(-20%) translateX(-50%) scale(1.1);
    filter: drop-shadow(0 0 8px rgba(47, 143, 156, 1));
}



#navs .container-fluid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navs .navbar-toggler {
    position: absolute;
    right: 15px;
}

.navbar {
    justify-content: space-between;
}

@keyframes footerShadowMove {
    0% {
        box-shadow: 0 -4px 8px rgba(47, 143, 156, 0.6);
    }

    50% {
        box-shadow: 0 -4px 8px rgba(255, 255, 255, 0.8);
    }

    100% {
        box-shadow: 0 -4px 8px rgba(47, 143, 156, 0.6);
    }
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(83, 116, 115);
    background: linear-gradient(90deg, rgba(83, 116, 115, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(81, 168, 177, 1) 100%);
    color: white;
    text-align: center;
    padding: 12px 0;
    box-shadow: 0 4px 8px rgba(47, 143, 156, 0.6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -4px 8px rgba(47, 143, 156, 0.6);
    animation: footerShadowMove 3s infinite linear;
    z-index: 1;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-item:hover {
    background-color: #51a7b113;
    color: #51A8B1;
}

.dropdown-item {
    color: #537473;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    max-width: 200px;
    margin-left: 25px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid #51A8B1;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.dropdown-divider {
    background-color: #51A8B1;
    margin: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
}

#newPCP {
    background-color: #78A75A;
    border: none;
}

#newPCP:hover {
    background-color: #78a75a93;
}

/*PCP CREATE*/

#btnCreatePCP {
    background-color: #51A8B1;
    border: none;
}

#btnCreatePCP:hover {
    background-color: #51a7b173;
    border: none;
}

#formCreatePCP .row {
    color: #000000;
}

#formCreatePCP {
    max-width: 700px;
    margin: auto;
    background-color: #51a7b169;
    border-radius: 30px;
    padding: 20px;
    border: 5px solid #51A8B1;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*PCP EDIT*/

#btnEditPCP {
    background-color: #51A8B1;
    border: none;
}

#btnEditPCP:hover {
    background-color: #51a7b173;
    border: none;
}

#formEditPCP .row {
    margin-top: 10px;
    color: #000000;
}

#formEditPCP {
    max-width: 700px;
    margin: auto;
    background-color: #51a7b169;
    border-radius: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    border: 5px solid #51A8B1;
}

/*PCP POR SETOR*/

#btnEditPCP,
.btnEditPCP {
    background-color: #51A8B1;
    border: none;
    margin-right: 10px;
}

#btnEditPCP:hover,
.btnEditPCP:hover {
    background-color: #51a7b173;
    border: none;
}

#pcpList .pcpItem {
    color: #000000;
}

#pcpList {
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #51a7b169;
    list-style-type: none;
    padding-left: 0;
    padding-top: 25px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.pcpItem {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 30px;
    border-color: #51A8B1;
    border-width: 5px;
    transition: transform 0.3s ease;
}

.pcpItem:hover {
    transform: scale(0.9);
    background-color: #51a7b12a;
}

#tarefa {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
}

#finish {
    background-color: springgreen;
    max-width: 120px;
    border-radius: 20px;
    padding-left: 4px;
}

#load {
    background-color: rgb(255, 255, 91);
    max-width: 130px;
    border-radius: 20px;
    padding-left: 4px;
}

.btnDeletePCP {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    margin-left: 10px;
}

/*CHECKLISTS*/

#newChecklist {
    background-color: #78A75A;
    border: none;
}

#newChecklist:hover {
    background-color: #78a75a93;
}

table {
    margin-top: 100px;
    margin-bottom: 20px;
}

.checklist-item {
    padding: 10px;
    margin-right: 20px;
}

.checklist-table {
    border-collapse: collapse;
    width: 100%;
}

.checklist-text {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.checkbox-cell {
    vertical-align: middle;
    text-align: center;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background: url(/img/check_box_outline_blank_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg) no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background: url(/img/check_24dp_78A75A_FILL0_wght400_GRAD0_opsz24.svg) no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
}

#ass-cq {
    background-color: #51A8B1;
    border: none;
    margin-bottom: 75px;
}

#ass-cq:hover {
    background-color: #51a7b175;
    border: none;
    margin-bottom: 100px;
}

.parent {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/*CREATE CHECKLIST*/

#texto {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.row {
    margin-top: 15px;
    color: #000000;
}

#formCreateCHK {
    background-color: #51a7b169;
    border-radius: 30px;
    padding-bottom: 25px;
    border: 5px solid #51A8B1;
    padding: 20px;
}

#tipo {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

#tipo:hover {
    background-color: #f1f1f1;
}

#btnCreateCHK {
    background-color: #51A8B1;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
}

#btnCreateCHK:hover {
    background-color: #51a7b173;
}

/*EDIT CHECKLIST*/

#texto {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.row {
    margin-top: 15px;
    color: #000000;
}

#formEditCHK {
    background-color: #51a7b169;
    border-radius: 30px;
    padding-bottom: 25px;
    border: 5px solid #51A8B1;
    padding: 20px;
}

#tipo {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

#tipo:hover {
    background-color: #f1f1f1;
}

#btnEditCHK {
    background-color: #51A8B1;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
}

#btnEditCHK:hover {
    background-color: #51a7b173;
}

/*LOGIN*/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: auto;
    /* Define margem automática para centralizar horizontalmente */
    margin-top: 100px;
    /* Espaçamento superior para alinhar verticalmente */
    padding: 45px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    /* Ativa o modelo flexível */
    flex-direction: column;
    /* Coluna para empilhar conteúdo verticalmente */
    justify-content: center;
    /* Alinha verticalmente no centro */
}


.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    margin-top: 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 30px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgba(47, 143, 156, 1);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
    border-radius: 30px;
}

@keyframes changeGradient {
    0% {
        background-position: 0% 100%;
        /* Começa do final (de baixo para cima) */
    }

    100% {
        background-position: 0% 0%;
        /* Termina no topo */
    }
}

#bckg-login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #51A8B1, #ffffff);
    background-size: 100% 200%;
    /* Ajusta o tamanho do gradiente para cobrir toda a altura */
    animation: changeGradient 5s infinite alternate;
    /* Animação de 5 segundos, alternando direção */
}

.form-logo {
    display: block;
    margin: -35px auto 20px;
    position: absolute;
    transform: translateY(-210%) translateX(-50%);
    left: 50%;
    top: 50%;
    width: 100px;
}
